
@model Pager

<div class="contianer mt-1">
	<ul class="pagination justify-content-end">

		@if(Model.CurrentPage > 1)
		{
			<li class ="page-item">
				<a class="page-link" asp-action="@Model.Action"
					   asp-route-pg="1"
					   asp-route-pageSize="@Model.PageSize"
					   asp-route-searchString="@Model.SearchText">
					First
				</a>
			</li>
			<li class="page-item">
				<a class="page-link" asp-action="@Model.Action"
					   asp-route-pg="@(Model.CurrentPage -1)"
					   asp-route-pageSize="@Model.PageSize"
					   asp-route-searchString="@Model.SearchText">
					Previous
				</a>
			</li>

		}

		@for(var pge = Model.StartPage; pge <= Model.EndPage; pge++)
		{
			<li class="page-item @(pge == Model.CurrentPage ? "active" : "")">
				@if (pge != Model.CurrentPage)
				{

					<a class="page-link" asp-action="@Model.Action"
						asp-route-pg="@pge"
						asp-route-pageSize="@Model.PageSize"
						asp-route-searchString="@Model.SearchText">
						@pge
					</a>
				}
				else
				{
					<span class="page-link">@pge</span>
				}

			</li>
		}

		@if (Model.CurrentPage < Model.TotalPages)
		{
			<li class="page-item">
				<a class="page-link" asp-action="@Model.Action"
			   asp-route-pg="@(Model.CurrentPage + 1)"
			   asp-route-pageSize="@Model.PageSize"
			   asp-route-searchString="@Model.SearchText">
					Next
				</a>
			</li>
			<li class="page-item">
				<a class="page-link" asp-action="@Model.Action"
			   asp-route-pg="@(Model.TotalPages)"
			   asp-route-pageSize="@Model.PageSize"
			   asp-route-searchString="@Model.SearchText">
					Last
				</a>
			</li>

		}
	</ul>
</div>

