@model IEnumerable<OnlineLibrary.Models.DBEntities.Book>

@{
    ViewData["Title"] = "Index";
    Pager pager = ViewBag.Pager;
    int i = 0, rownumber = 0;
}
@using Microsoft.AspNetCore.Identity
@using OnlineLibrary.Models.DBEntities

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (User.IsInRole("Admin"))
{

    <h1 style="padding:30px; color:dimgray">
        Manage Authors
    </h1>
}
else
{
    <h1 style="padding:30px; color:dimgray">
        View Authors
    </h1>

}
<div class="d-flex justify-content-start">
    <form asp-action="index">
        <span class="btn-group">
            <input class="form-control" type="text"
                   name="searchString"
                   value="@ViewBag.searchString"
                   placeholder="Search Key" />
            <input class="p-1 ml-2 btn btn-sm btn-primary" style="border-radius:10px;" type="submit" value="Search" />
        </span>
    </form>
</div>
<table class="table table-striped">
    <thead>
        <tr>

            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Publisher</th>
            <th scope="col">PublishYear</th>
            <th scope="col">ISBN</th>
            <th scope="col">Quantity</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i++;
            rownumber = pager.PageSize * (pager.CurrentPage - 1) + i;
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => rownumber)</th>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Publisher)</td>
                <td>@Html.DisplayFor(modelItem => item.PublishYear)</td>
                <td>@Html.DisplayFor(modelItem => item.ISBN)</td>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.BookId" class="btn btn-primary fa fa-circle-info" type="button"></a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.BookId" class="btn btn-success fa fa-pencil-square" type="button"></a>
                        <a asp-action="Delete" asp-route-id="@item.BookId" class="btn btn-danger fa fa-trash-alt" type="button"></a>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>
<nav>
    <div class="row">
        <div class="col-12">
            <partial name="_paginationBar" model="@pager" />
        </div>
    </div>
</nav>
