@model IEnumerable<OnlineLibrary.Models.DBEntities.Author>

@{
    ViewData["Title"] = "Index";
}

<h1 style="padding:30px; color:dimgray">
    Manage Authors
</h1>
<div class="container" style="padding:20px">
    <div class="row">
        <div class="col-sm-3.ml-md-auto">
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search" />
            </div>
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>

            <th scope="col">#</th>
            <th scope="col">Name</th>            
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.AuthorId)</th>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.AuthorId" class="btn btn-primary fa fa-circle-info" type="button"></a>
                    <a asp-action="Edit" asp-route-id="@item.AuthorId" class="btn btn-success fa fa-pencil-square" type="button"></a>
                    <a asp-action="Delete" asp-route-id="@item.AuthorId" class="btn btn-danger fa fa-trash-alt" type="button"></a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>
<nav>
    <ul class="pagination justify-content-end">
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
            <span class="page-link">2</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>
